<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSBuildExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <MSBuildExplorer.Properties.Settings>
            <setting name="DefaultBootStrapper" serializeAs="String">
                <value>@set PATH=%WINDIR%\Microsoft.NET\Framework\v4.0.30319;%PATH%</value>
            </setting>
            <setting name="DefaultParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="Favorites" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="LeftColumnWidth" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="RightColumnWidth" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>950</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="PauseConsoleAfterExecution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PromptDefaultTargetExecution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultBuildPad" serializeAs="String">
                <value>&lt;Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003"&gt;
    &lt;Target Name="Default"&gt;

	
	
    &lt;/Target&gt;
&lt;/Project&gt;</value>
            </setting>
        </MSBuildExplorer.Properties.Settings>
    </userSettings>
</configuration>
